<div
  class="border-0 rounded-xl px-6 py-8 max-w-md w-full flex flex-col items-center gap-6 relative h-[350px]"
>
  <!-- Product Image -->
  <div class="flex justify-center">
    <img [src]="product().image" class="w-[200px] h-[100px] object-contain" />
  </div>

  <!-- Product Details -->
  <div class="flex flex-col items-center text-center gap-2 flex-grow">
    <span class="text-md font-bold">{{ product().title }}</span>
    <span class="text-sm"> {{ "$" + product().price }}</span>
  </div>

  <!-- Add to Cart Button (Always at the bottom) -->
  <app-primary-button
    [disable]="!product().stock"
    (btnClicked)="cartService.addToCart(product())"
    class="transition-transform duration-200 ease-in-out active:scale-105 mt-auto"
    label="Add to Cart"
  />

  <!-- Stock Status -->
  <span
    class="absolute top-2 right-3 text-sm font-bold"
    [class]="product().stock ? 'text-green-500' : 'text-red-500'"
  >
    @if (product().stock) {
    {{ product().stock }} left } @else { Out of stock }
  </span>
</div>
